* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 0.625rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, calc((500px - 2rem - 3rem) / 3));
    gap: 1.5rem;
    width: 500px;
    height: 500px;
    padding: 1rem;
    border: 1px black solid;
    box-sizing: border-box; 
}